body{
    background-color: #007bff;
}

.container{
    margin-top: 50px;
}

#navbar_title{
    color: white;
}

#card{
    box-shadow: 15px 15px rgba(0,0,0,0.16);
}

#cardrow{
    margin-top: 20px;
}

#addtripbutton{
    margin-top: 20px;
    margin-left: 20px;
    width: 150px; 
}

#submitbutton{
    margin-top: 10px;
}

#closebutton{
    margin-top: 10px;
}

#formcontainer {
    position:absolute;
    z-index: 1;
    left: 1%;
    top: 12%;
    border-radius: 20px; 
    width: 300px;
    height: 300px;
    text-align: center;
    box-shadow: 15px 15px rgba(0,0,0,0.16);
}

#formarea {
    position:absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

#navbar{
    background-color: #343a40;
}




