<!DOCTYPE html>
<html>
<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block header %}
    {% endblock %}
</header>
<body>

    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark" style = "z-index: 1;">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="/">Home</a>
            </div>
            <div class="bg-dark p-4">
                <a class="nav-link" href="/trip">Trip</a>
            </div>
        </div>
    </div>

{% block content %}

<div>
    <form action="/addtrip" method='post'>
        <input type="text" name="tripname">
        <button>Submit</button>
    </form>
</div>


<div class="container">
    {% for trip in trips %}
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{trip[0]}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Created by Samuel Lee</h6>
            <h6 class="card-subtitle mb-2 text-muted">Number of Places: 10</h6>
            <a href="/{{trip[0]}}/tripdetails" class="card-link">Enter</a>
            <a href="/{{trip[0]}}/deletetrip" class ="card-link">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
</body>

</html>








