<!DOCTYPE html>
<html>
<header>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</header>
<body>

    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <a class="nav-link" href="/">Home</a>
            </div>
            <div class="bg-dark p-4">
                <a class="nav-link" href="/trip">Trip</a>
            </div>
        </div>
    </div>

{% block content %}

<div>
    <form action="/add" method='post'>
        <input type="text" name="tripname">
        <button>Submit</button>
    </form>
</div>


<div class="container">
    {% for trip in trips %}
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title">{{trip}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
</body>

</html>








