{% extends "home.html" %}

{% block header %}
<link rel="stylesheet" href="/static/place_details.css">
{% endblock %}

{% block content %}


<div class="container" id = "body">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
            <h3>Address</h3>
            <h4>{{place[2]}}</h4>
            <h3>Phone Number</h3>
            <h4>{{place[7]}}</h4>
            <h3>Price</h3>
            <h4>{{place[6]}}</h4>
            <h3>Rating</h3>
            <h4>{{place[5]}}</h4>
            <h4><a href="{{place[8]}}">See More</a></h4>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"> 
            <iframe
            width= "100%"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{creds}}
            &q={{place[3]}},{{place[4]}}" allowfullscreen>
          </iframe>
        </div>

    </div>
</div>


{% endblock %}