{% extends "home.html" %}

{% block header %}
<link rel="stylesheet" href="/static/place_details.css">
{% endblock %}

{% block content %}


<div class="container" id = "body" style="text-align: center;">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4"> 
            <h4>Price</h4>
            <h3>{{place[2]}}</h3>
            <h4>Phone Number</h4>
        </div>

        <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8"> 
            <iframe
            width= "100%"
            height="450"
            frameborder="0" style="border:0"
            src="https://www.google.com/maps/embed/v1/place?key={{creds}}
            &q={{place[4]}},{{place[3]}}" allowfullscreen>
          </iframe>
        </div>

    </div>
</div>


{% endblock %}