{% extends "home.html" %}

{% block header %}
<link rel="stylesheet" href="/static/trip_details.css">
{% endblock %}

{% block content %}

<div class="sidenav" id = "sidenav">
    {% for candidates in result %}
    <h6>{{candidates.name}}</h6>
    <h6>{{candidates.address}}</h6>
    <h6>{{candidates.lat}}</h6>
    <h6>{{candidates.lng}}</h6>
    {% endfor %}
</div>


<form action='/tripdetails' method = "POST">
<input type="text" class="form-control" id = "myInput" placeholder="Search for a Place" name="place" style ="border-top-left-radius: 100px; border-bottom-left-radius: 100px"/>
</form>
 

<button onclick = "hideSide()" type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Search
</button>

<script>

function hideSide(){
    var hide = document.getElementById("sidenav")
    if(hide.style.display != "none"){
        hide.style.display = "none"
    }
    else{
        hide.style.display = ""
    }
}

var searchfrom = document.getElementById("searchform")

searchfrom.addEventListener("keydown", function(e) {

    if (e.keyCode == 13) { 
        $("#searchform").submit()
    }

})

</script>




{% endblock %}