{% extends "home.html" %}

{% block header %}
<link rel="stylesheet" href="/static/trip_details.css">
{% endblock %}

{% block content %}

<h1 style = "color: white; margin-left: 15px;">{{trip}}</h1>

{% if search_result == None %}
<div class="sidenav" id = "sidenav" style ="width: 0px">
{% else %}
<div class="sidenav" id = "sidenav">
{% for candidates in search_result %}
<div class="card">
    <div class="card-body">
      <h5 class="card-title">{{candidates.name}}</h5>
      <h6 class="card-title">{{candidates.address}}</h6>
      <button onclick = "addTripItem({{candidates|safe}})" type ="button" class="btn btn-success">Add to List</button>
      <h6 id = "errormessage"></h6>
    </div>
</div>
{% endfor %}
{% endif %}
</div>

<div class ="container" id = "inputbody">
<form action='/{{trip}}/tripdetails' method = "POST">
<input type="text" class="form-control" id = "myInput" placeholder="Search for a Place" name="place" style ="border-top-left-radius: 100px; border-bottom-left-radius: 100px"/>
</form>
</div>

<div id = "contentbody">
    <div class="container"> 
        <div class="row">
        {% for candidates in tripitems %}
            <div class="col-12 col-sm-6 col-md-3 col-lg-3 col-xl-3" id = "cardrow">
                <div class = "card" id = "card" style="width: 100%; height: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{candidates[1]}}</h5>
                        <h6 class="card-title">{{candidates[2]}}</h6>
                        <a href="{{ url_for('placedetail' , address=candidates[2]) }}" class="btn btn-primary">See More</a>
                        <button onclick = "deleteTripItem({{candidates|safe}})" type = "button" class="btn btn-warning">Delete</button>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>


{% if search_result == None %}
<button onclick = "hideSide()" type="button" class="btn btn-info" id = "hidebutton">
{% else %}
<button onclick = "hideSide()" type="button" class="btn btn-info" id = "hidebutton" style = "right: 400px">
{% endif %}
    <span class="glyphicon-search"></span> Result
</button>

<script>

function hideSide(){
    var hide = document.getElementById("sidenav")
    if(hide.style.width != "0px"){
        hide.style.width = "0px";
        document.getElementById('inputbody').style.opacity = 1;
        document.getElementById('contentbody').style.opacity = 1;
        document.getElementById('hidebutton').style.right = "0px";
    }
    else{
        hide.style.width = "400px";
        document.getElementById('inputbody').style.opacity = 0.2;
        document.getElementById('contentbody').style.opacity = 0.2;
        document.getElementById('hidebutton').style.right = "400px";
    }
}

function addTripItem(item){

    var item = {"tripname":{{trip|tojson}}, "name": item.name, "address": item.address, "lat": item.lat, "lng": item.lng}

    $.ajax({
        type: "POST",
        url: "{{url_for('addtripitem')}}",
        data: {"output" : JSON.stringify(item)},

    success: function(response){

    if(response == "success"){
        location.href = "/{{trip}}/tripdetails"
    }
    else{
        document.getElementById("errormessage").innerHTML = "Cannot add item to list. Duplicate item.";
        document.getElementById("errormessage").style.color = "red";
    }
}        
});

}

function deleteTripItem(item){

    var item = {"tripname": item[0], "address": item[2]}

    $.ajax({
        type: "POST",
        url: "{{url_for('deletetripitem')}}",
        data: {"output" : JSON.stringify(item)},

    success: function(response){

    location.href = "/{{trip}}/tripdetails"
}        
});

    
}

var searchfrom = document.getElementById("searchform")

searchfrom.addEventListener("keydown", function(e) {

    if (e.keyCode == 13) { 
        $("#searchform").submit()
    }

})

</script>




{% endblock %}